*{
    margin: 0;
    padding: 0;
}
* {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
body{
    background-color: rgb(34, 21, 3);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container{
    width: 100vw;
    margin-top: 10vh;
    display: grid;
    gap:0;
    grid-template-columns: repeat(8,1fr);
    border-top: solid 20px burlywood;
    border-bottom: solid 20px burlywood;

}
.sub-title{
    color:white;
    margin: 0.2em;
}
.square{
    width: 12.5vw;
    height: clamp(1em,12.5vw,10em);
    background-color: white;
}

.pawn{
    width: 12vw;
    max-height: 12vw;
}
.gameo{
    font-size: 3em;
    border: solid red;
    border-radius: 2em;
    margin:1em;
    text-align: center;
}
.title{
    color: white;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}
.extra{
    text-align: center;
    margin-top: 1em;
    color:white;
    display: flex;
    flex-direction: column;
    max-width: 9em;
    align-items: center;
    
}
.extra a{
    margin-top: 1em;
    background-color: blue;
    text-decoration: none;
    color:white;
    padding: 0.5em;
    border-radius: 2em;

    
}
@media screen and (min-width: 700px) {
    body {
      background-color: olive;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:1em;
    }
    .container{
        
        width: 40em;
        margin: 00;
        border:solid 20px rgb(125, 53, 6);

    }
    .square{
        width: 5em;
        height: 5em;
    }
    .pawn{
        width: 5em;
        height:4.9em;
    }
  }